*{
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 100px;
    color: khaki;
    font-weight: bold;
    background: url(./images/pattern.jpeg);
    text-align: center;

}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
.cost {
    font-weight: bold;
    color: blue;
}

#brushes h2 {
    background-color: mediumspringgreen;
}

#frames h2 {
    background-color: lightcoral;
}

#paints h2 {
    background-color: skyblue;
}
